.btn {
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  font-weight: 600;
  min-height: 40px;
  min-width: 200px;

  &.disabled,
  &[disabled] {
    background: #C2C9D3!important;
    border-color: #C2C9D3;
    opacity: 1;
    pointer-events: none;
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active {
      border-color: #C2C9D3;
    }
  }

  &-success {
    background: $color-green;
    border-color: $color-green;
    color: $color-gray;

    &:hover,
    &:active {
      background: $color-green;
      border-color: $color-green;
      color: $color-gray;
    }

    &:focus {
      background: $color-green;
      border-color: $color-green;
      color: $color-gray;
    }

    &.disabled,
    &[disabled] {
      background: #C2C9D3!important;
      border-color: #C2C9D3;
      opacity: 1;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &-link {
    color: $color-blue-100;

    &:hover,
    &:active {
      color: $color-blue-100;
    }

    &:focus {
      color: $color-blue-100;
    }

    &.disabled,
    &[disabled] {
      background: #C2C9D3!important;
      border-color: #C2C9D3;
      opacity: 1;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

.filter-btn {
  padding: 10px 15px;
  border: 1px solid #C2C9D3;
  border-radius: 16px;

  &:active,
  &:hover {
    background: $color-green-100;
    border-color: $color-green-100;
    color: $color-dark;
  }

  &__active {
    background: $color-green-100;
    border-color: $color-green-100;
    color: $color-dark;
  }
}
