// Text color helpers
.text-white {
  color: $color-white;
}

.text-blue {
  color: $color-blue;
}

.text-blue-100 {
  color: $color-blue-100;
}

.text-red {
  color: $color-red;
}

.text-orange {
  color: $color-orange;
}

.text-green {
  color: $color-green;
}

.text-green-100 {
  color: $color-green-100;
}

.text-dark {
  color: $color-dark!important;
}

.text-dark-40 {
  color: $color-dark-40;
}

.text-dark-60 {
  color: $color-dark-60;
}

.text-dark-80 {
  color: $color-dark-80;
}

.text-gray {
  color: $color-gray;
}

.text-gray-60 {
  color: $color-gray-60;
}

.text-gray-100 {
  color: $color-gray-100;
}

.text-black {
  color: $color-black;
}

.text-black-100 {
  color: $color-black-100;
}


// Background colors
.bg-white {
  background: $color-white;
}
.bg-white-20 {
  background: $color-white-20;
}

.bg-blue {
  background: $color-blue;
}

.bg-blue-100 {
  background: $color-blue-100;
}

.bg-red {
  background: $color-red;
}

.bg-green {
  background: $color-green;
}

.bg-dark {
  background: $color-dark!important;
}

.bg-dark-40 {
  background: $color-dark-40;
}

.bg-gray {
  background: $color-gray;
}

.bg-black {
  background: $color-black;
}

.bg-black-100 {
  background: $color-black-100;
}

.bg-black-300 {
  background: $color-black-300;

}


