table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    /* border: 1px solid #c7c0c0; */
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .verde{
    color: #a0d66f;
  }
  .rojo{
    color: #ea8e84;
  }
  .naranja{
    color: orange;
  }