
#tableInfo {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tableInfo td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  #tableInfo tr:nth-child(even) {
    background-color: #dddddd;
  }