<div class="auth flex-row">
    <div class="auth__left">
      <div class="epik-background has-padding-40">
        <!-- <a href="/"><img src="/assets/img/pback.png" alt="Diunsa Logo" class="epik-background__top-logo"   style="width: 50%;"/></a> -->
       <p style="color: white;font-size: 4rem;"> FINANCIERA</p>
        <div class="epik-background__bottom">
          <span class="text has-margin-right-10" style="color: white;">Powered by</span>
          <a href="/"><img src="/assets/img/auth/epik-negative-logo.svg" alt="white epik logo" style="width: 78px;margin-left: 5px;"></a>
        </div>
      </div>
    </div> 
    <div class="auth__right flex-column justify-center">
      <app-login></app-login>
    </div>
  </div>